@{
    ViewBag.Title = "about us";
}

<!-- Shows text in a blue window at the top of the index page" -->
@section featured {
    <section class="featured">
        <div class="content-wrapper">
        <p>
            <font size="3">All about the project, the team members, and everyone that has helped!</font> 
         </p>
        </div>
    </section>
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <p>
        Our goal is to make this amazing collection of Earth images more accessible to the world.
        <br />We've provided a RESTful web API for developers, and an elegantly simple website for everyone else.
    </p>

    <p>
        Team Big Marble is composed of
        <br /><br />
        Nate Hodge<br />
        Jeramiah Cieszynski<br />
        Dan Virost<br />
        Matt Slagle<br />
        Ryan Wilson<br />
    </p>

    <h2>the technology</h2>
    <p>
        The lowest tier in our architecture is a Microsoft SQL Server database containing all image meta data. On the next level, we have an ASP.NET MVC4 Web API, which provides the RESTful API for clients. Lastly there is the Big Marble website, also running on ASP.NET MVC4.  The website accesses the
        API as would any other client, via standard HTTP requests. This disconnected architecture allows great flexibility in deploying The Big Marble - the database, website and API can all be hosted in separate locations.
    </p>
    <p>
        All components are hosted on <a href="http://www.windowsazure.com">Windows Azure</a>.
    </p>

</article>

<aside>
    <h3>Thanks to all involved, including</h3>
    <ul>
        <li>NASA</li>
        <li>NEOSA</li>
        <li>Tri-C</li>
    </ul>
</aside>