@{
    ViewBag.Title = "About Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <p>
        Our goal is to make this amazing collection of Earth images more accessible to the world.
        <br />We've provided a RESTful web API for developers, and an elegantly simple website for everyone else.
    </p>

    <p>
        Team Big Marble is composed of
        <br /><br />
        Nate Hodge<br />
        Jeramiah Cieszynski<br />
        Dan Virost<br />
        Matt Slagle<br />
        Ryan Wilson<br />
    </p>


</article>

<aside>
    <h3>Thanks to all involved, including</h3>
    <ul>
        <li>NASA</li>
        <li>NEOSA</li>
        <li>Tri-C</li>
    </ul>
</aside>