@{
	ViewBag.Title = "Address Search";
}

<!-- Shows text in a blue window at the top of the index page" -->
@section featured {
	<section class="featured">
		<div class="content-wrapper">
		<p>
			With 200,000 images of Earth, you're bound to find something interesting.  Search for an address, location, or landmark and see what you find!
		 </p>
		</div>
	</section>
}

<!-- Start the form to postback the address -->
@using (Html.BeginForm("SearchImages", "Home"))
{
	<table class="content-wrapper">
		<tr>
			@*<td>
				@Html.Label("Location:  ")
			</td>*@
			<td>
				<input type=text id="Address" name="Address" style="width: 600px; border-color:darkgray" />
			</td>
			<td>
				<button type="submit">Search Images</button>
			</td>
		</tr>
	</table>
}

<div style="margin-top:10px; margin-left: 100px; font-style:italic">
	examples:
	<br /><br />
	1600 Pennsylvania Ave, Washington, D.C. <br />
	Cleveland, Ohio<br />
	Amazon River<br />
	The Alps

</div>