@{
    ViewBag.Title = "Location Sprawl";
}

@*<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>425.555.0100</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>425.555.0199</span>
    </p>
</section>*@

<section class="contact">

<h2>All locations:</h2><br />
<table>    
@foreach (BlueMarble.Data.Locationdesc item in Model)
{
        <tr>
            <td style="vertical-align: top">
                @item.Name
            </td>
        </tr>
}
</table>
</section>
