<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MarbleDatabaseSqlce" connectionString="Data Source=|DataDirectory|\MarbleData.sdf" providerName="System.Data.SqlServerCe.4.0" />
    <add name="BigMarbleDatabase" connectionString="Server=tcp:csx6qpgpc6.database.windows.net,1433;Database=BigMarble;User ID=bigmarbleteam@csx6qpgpc6;Password=Allthemarbles1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="LittleMarbleDatabase" connectionString="Server=tcp:csx6qpgpc6.database.windows.net,1433;Database=LittleMarble;User ID=bigmarbleteam@csx6qpgpc6;Password={your_password_here};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>